VITE_ASSET_FORGE_API_BASE=
VITE_TELLUS_SKYBOX_URL=/skybox/free_-_skybox_basic_sky.glb
VITE_TELLUS_JOHNNY_AVATAR_URL=/avatars/johnny.glb
VITE_TELLUS_MIRA_AVATAR_URL=/avatars/mira.glb
VITE_TELLUS_SOL_AVATAR_URL=/avatars/sol.glb
