dist
node_modules
.env
.env.local
public/tellus-config.local.json
public/avatars/*.glb
public/avatars/*.gltf
public/avatars/*.vrm
public/skybox/*.glb
public/skybox/*.gltf
!public/skybox/free_-_skybox_basic_sky.glb
